<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    
    <title>Nile's Care | Doctor</title>
    <link rel="icon" href="{% static "doctor/images/favicon.ico" %}" type="image/x-icon">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'doctor/css/style_doctor_page.css' %}">

    <script src="{% static 'doctor/js/script_doctor_page.js' %}" defer></script>
</head>

<body>
    <header>
        <nav class="logo">
            <a href="#">Nile's Care</a>
        </nav>

        <nav class="links">
            <!-- <a href="{% url 'doctor_list' %}">Appointments</a> -->
            <a href="#Appointments">Appointments</a>
            <a href="#Doctor-Panel">Doctor Panel</a>
            <a href="#Dashboard">Dashboard</a>
            <a href="#Prescriptions">Prescriptions</a>
            <a href="#Medical-Records">Medical Records</a>
        </nav>

        <nav class="profile">
            <i class="fa-solid fa-circle-user"></i>
        </nav>

        <div class="sub-menu-wrap" id='subMenu'>
            <div class='sub-menu'>
                <div class='user-info'>
                    <i class="fa-solid fa-circle-user"></i>
                    <h4>{{ user.username }}</h4>
                </div>

                <hr>

                <div class="sub-menu-links">
                    <a href="{% url 'profilemenu' %}">Edit Profile</a>
                    <a href="{% url 'profilemenu' %}">Settings</a>
                    <a href="{% url 'profilemenu' %}">Help & Support</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="img-intro">
        </div>

        <span class="home-imgHover"></span>

        <section class="intro">
            <h1>Welcome, {{ user.username }}</h1>
            <p>We're here to help you manage your patients and appointments effectively.</p>
            <button onclick="location.href='#Appointments'" class="btn-primary">Learn More</button>
        </section>

        <section id="Appointments" class="Appointments">
            <h2>Your Appointments</h2>

            <div class="Appointments-card">
                <i class="fa-solid fa-calendar-check"></i>
                <h3>View Appointments</h3>
                <p>
                    Check the doctor's schedule and available slots effortlessly.
                </p>
                <a href="{% url 'doctor_list' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>

            {% comment %} <div class="Appointments-card">
                <i class="fa-solid fa-repeat"></i>
                <h3>change appointment</h3>
                <p>
                    Access patient history and medical records securely.
                </p>
            </div> {% endcomment %}

            {% comment %} <div class="Appointments-card">
                <i class="fa-solid fa-ban"></i>
                <h3>cancel appointment</h3>
                <p>
                    Efficient billing for patients and healthcare providers.
                </p>
                <a href="{% url 'doctor_list' %}"><i class="fa-solid fa-arrow-right"></i></a>
            </div> {% endcomment %}
        </section>

        <section id="Doctor-Panel" class="doc-panel">
            <h2>Your Doctor Panel</h2>

            <div class="img-flex">
                <img src="{% static 'doctor/images/doc-1.jpg' %}" alt="doctor image">
                <div class="img-text">
                    {% comment %} <h3>samuel goe</h3> {% endcomment %}
                    <h3>{{ user.username }}</h3>
                    <p class="doctor-specialization">Medicine</p>
                    {% comment %} <p class="doctor-specialization">{{ doctor.specialty }}</p> {% endcomment %}
                    {% comment %} <p class="doctor-description">
                        Dr. Samuel Goe is an experienced medical professional specializing in
                        internal medicine. Dedicated to providing high-quality patient care, he strives to stay
                        up-to-date with the latest advancements in medical treatment.
                    </p> {% endcomment %}
                    {% comment %} <p class="doctor-description">
                        Dr. {{ user.username }} is an experienced {{ doctor.specialty }} professional specializing in
                        internal {{ doctor.specialty }}. Dedicated to providing high-quality patient care, he strives to stay
                        up-to-date with the latest advancements in medical treatment.
                    </p> {% endcomment %}
                    <p class="doctor-description">
                        Dr. {{ user.username }} is an experienced medical professional specializing in
                        internal medicine. Dedicated to providing high-quality patient care, he strives to stay
                        up-to-date with the latest advancements in medical treatment.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="copyright">
            &copy; <span class="time"></span> <span class="company" title="Hospital Management System">HMS</span> all
            right reserved.
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=61570642747617" target="_blank" title="Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/nilescare?igsh=MXM4bmNvYzdjd3libA==" target="_blank" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://www.x.com/NilesCare" target="_blank" title="X">
                <i class="fa-brands fa-x-twitter"></i>
            </a>

            <a href="https://eg.linkedin.com/in/niles-care-b13679301" target="_blank" title="LinkedIn">
                <i class="fa-brands fa-linkedin"></i> 
            </a>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
</body>
</html>
