<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>

    {% load static %}

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="{% static 'doctor/css/style_doctor_page.css' %}">

    <script src="{% static 'doctor/js/script_doctor_page.js' %}" defer></script>
</head>

<body>
    <header>
        <nav class="logo">
            <a href="#">HMS</a>
            <!-- another way -->
            <!-- but the page will reload everytime -->
            <!-- <a href="{% url 'index' %}">HMS</a> -->
        </nav>

        <nav class="links">
            <a href="#Appointments">Appointments</a>
            <a href="#Doctor-Panel">Doctor Panel</a>
            <a href="#Dashboard">Dashboard</a>
            <a href="#Prescriptions">Prescriptions</a>
            <a href="#Medical-Records">Medical Records</a>
        </nav>

        <nav class="profile">
            <i class="fa-solid fa-circle-user"></i>
        </nav>

        <div class="sub-menu-wrap" id='subMenu'>
            <div class='sub-menu'>
                <div class='user-info'>
                    <i class="fa-solid fa-circle-user"></i>
                    <h4>your profile</h4>
                </div>

                <hr>

                <div class="sub-menu-links">
                    <a href="#">Edit Profile</a>
                    <a href="#">Settings</a>
                    <a href="#">Help & Support</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="img-intro">
        </div>

        <span class="home-imgHover"></span>

        <section class="intro">
            <h1>Welcome to Doctor Page</h1>
            <p>We're here to help you manage your patients and appointments effectively.</p>
            <button onclick="location.href='#Appointments'" class="btn-primary">Learn More</button>
        </section>

        <section id="Appointments" class="Appointments">
            <h2>Your Appointments</h2>

            <div class="Appointments-card">
                <i class="fa-solid fa-repeat"></i>
                <h3>change appointment</h3>
                <p>
                    Access patient history and medical records securely.
                </p>
            </div>

            <div class="Appointments-card">
                <i class="fa-solid fa-ban"></i>
                <h3>cancel appointment</h3>
                <p>
                    Efficient billing for patients and healthcare providers.
                </p>
            </div>
        </section>

        <section id="Doctor-Panel" class="doc-panel">
            <h2>Your Doctor Panel</h2>

            <div class="img-flex">
                <!-- <img src="../../static/doctor/images/doc-1.jpg" alt="doctor image"> -->
                <img src="{% static 'doctor/images/doc-1.jpg' %}" alt="doctor image">
                <div class="img-text">
                    <h3>samuel goe</h3>
                    <p class="doctor-specialization">Medicine</p>
                    <p class="doctor-description">
                        Dr. Samuel Goe is an experienced medical professional specializing in
                        internal medicine. Dedicated to providing high-quality patient care, he strives to stay
                        up-to-date with the latest advancements in medical treatment.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="copyright">
            &copy; <span class="time"></span> <span class="company" title="Hospital Management System">HMS</span> all
            right reserved.
        </div>

        <div class="social-icons">
            <a href="#" target="_blank" title="Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="#" target="_blank" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="#" target="_blank" title="Twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>

            <a href="#" target="_blank" title="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </footer>
</body>

</html>