{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Nile's Care | Email Verification</title>
    <link rel="icon" href="{% static "Accounts/images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'Accounts/css/signupstyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="user_card">
            <div class="back_button">
                <a href="{% url 'index' %}" class="back_icon"><i class="fas fa-arrow-left"></i></a>
            </div>

            <div class="form_title">
                <h2>{% trans "Verify Your E-mail Address" %}</h2>
            </div>

            <div class="message-box alert info">
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
            </div>

            <a href="{% url 'index' %}" class="submit_btn">
                <span class="button_text">{% trans "Return to Home" %}</span>
            </a>
        </div>
    </div>
</body>
</html> 