<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    
    <title>Nile's Care | Patient</title>
    <link rel="icon" href="{% static "patient/images/favicon.ico" %}" type="image/x-icon">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'patient/css/style-patient.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="{% static 'patient/js/scripts-appointments.js' %}" defer></script>
</head>

<body>
    <header>
        <nav class="logo">
            <a href="#" title="Home">Nile's Care</a>
        </nav>

        <nav class="links">
            <a href="#Appointments">Appointments</a>
            <a href="#doctors">Doctors</a>
            <a href="#Departments">Departments</a>
        </nav>

        <nav class="profile">
            <i class="fa-solid fa-circle-user"></i>
        </nav>

        <div class="sub-menu-wrap" id='subMenu'>
            <div class='sub-menu'>
                <div class='user-info'>
                    <i class="fa-solid fa-circle-user"></i>
                    <h4>{{ user.username }}</h4>
                </div>
                <hr>
                <div class="sub-menu-links">
                    <a href="{% url 'profilemenu' %}">Edit Profile</a>
                    <a href="{% url 'profilemenu' %}">Settings</a>
                    <a href="{% url 'profilemenu' %}">Help & Support</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="img-intro">
        </div>

        <span class="home-imgHover"></span>

        <section class="intro">
            <h1>Welcome, {{ user.username }}</h1>
            <p>We're here to make managing your health easier and more accessible.</p>
            <button onclick="location.href='#Appointments'" class="btn-primary">Learn More</button>
        </section>

        <div class="container">
            <div class="image">
                <span class="image__bg"></span>
                <img src="{% static 'patient/images/doc-1.png' %}" alt="header image">
            </div>
        </div>

        <section class="section__container" id="Appointments" data-aos="fade-up">
            <div class="Appointment__header">
                <div class="Appointment__header__content">
                    <h2 class="section__header">Appointments</h2>
                    <p>Beyond simply providing medical care, our commitment lies in delivering unparalleled Appointment tailored to your unique needs.</p>
                </div>
            </div>
            <div class="Appointment__grid">
                <div class="Appointment__card">
                    <span><i class="fa-regular fa-calendar-check size-logo-Appointment"></i></span>
                    <h4>Book Appointment</h4>
                    <p>Accurate Diagnostics, Swift Results: Experience top-notch Laboratory Testing at our facility.</p>
                    <a href="{% url 'patient_reservation' %}"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                {% comment %} <div class="Appointment__card">
                    <span><i class="fa-solid fa-money-bill size-logo-Appointment"></i></span>
                    <span><i class="fa-solid fa-repeat"></i></span>
                    <h4>Change Appointment</h4>
                    <p>Our thorough assessments and expert evaluations help you stay proactive about your health.</p>
                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                </div> {% endcomment %}
                <div class="Appointment__card">
                    <span><i class="fa-regular fa-clipboard size-logo-Appointment"></i></span>
                    <h4>Cancel Appointment</h4>
                    <p>Experience comprehensive oral care with Dentistry. Trust us to keep your smile.</p>
                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </section>

        <section class="section__containerdoctors__container" id="doctors" data-aos="fade-up">
            <div class="doctors__header">
                <div class="doctors__header__content">
                    <h2 class="section__header">Your Special Doctors</h2>
                </div>
                <div class="doctors__nav">
                    <span><i class="ri-arrow-left-line"></i></span>
                    <span><i class="ri-arrow-right-line"></i></span>
                </div>
            </div>
            <div class="doctors__grid">
                <div class="doctors__card">
                    <div class="doctors__card__image">
                        <img src="{% static 'patient/images/doc-1.png' %}" alt="doctor">
                        {% comment %} <div class="doctors__socials">
                            <button onclick="location.href=''" class="btn add__cart">About Doctors</button>
                        </div> {% endcomment %}
                    </div>
                    <h4>Dr. James Anderson</h4>
                    <p>Cardiologist</p>
                </div>
                <div class="doctors__card">
                    <div class="doctors__card__image">
                        <img src="{% static 'patient/images/doc-4.png' %}" alt="doctor">
                        {% comment %} <div class="doctors__socials">
                            <button onclick="location.href=''" class="btn add__cart">About Doctors</button>
                        </div> {% endcomment %}
                    </div>
                    <h4>Dr. Emily Smith</h4>
                    <p>Neurosurgeon</p>
                </div>
                <div class="doctors__card">
                    <div class="doctors__card__image">
                        <img src="{% static 'patient/images/doc-1.png' %}" alt="doctor">
                        {% comment %} <div class="doctors__socials">
                            <button onclick="location.href=''" class="btn add__cart">About Doctors</button>
                        </div> {% endcomment %}
                    </div>
                    <h4>Dr. Michael Lee</h4>
                    <p>Dermatologist</p>
                </div>
            </div>
        </section>

        <section id="Departments" class="Department" data-aos="fade-up">
            <div class="container">
                <div class="section-title">
                    <h2>Departments</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-heartbeat"></i></div>
                            <h4>Cardiology</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-pills"></i></div>
                            <h4>Neurology</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-hospital-user"></i></div>
                            <h4>Emergency</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-dna"></i></div>
                            <h4>Medicine</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-wheelchair"></i></div>
                            <h4>Dermatology</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-notes-medical"></i></div>
                            <h4>Surgery</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="copyright">
            &copy; <span class="time"></span> <span class="company" title="Nile's care">Nile's care</span> All 
            Rights Reserved.
        </div>

        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=61570642747617" target="_blank" title="Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/nilescare?igsh=MXM4bmNvYzdjd3libA==" target="_blank" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://www.x.com/NilesCare" target="_blank" title="X">
                <i class="fa-brands fa-x-twitter"></i>
            </a>

            <a href="#" target="https://eg.linkedin.com/in/niles-care-b13679301" title="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </footer>

    <script>
        // When the user scrolls down, the header will change the background color
        window.addEventListener('scroll', function () {
            const header = document.querySelector('header');
            if (window.scrollY > 0) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });

        // Copyright Date
        let time = document.querySelector(".time");
        time.innerHTML = new Date().getFullYear(); // 2024

        // Profile Icon Click Toggle
        document.querySelector('.profile i').addEventListener('click', function (e) {
            e.stopPropagation(); // Prevent event from bubbling to document
            document.getElementById('subMenu').classList.toggle('open');
        });

        // Close the submenu anywhere
        document.addEventListener('click', function (e) {
            const subMenu = document.getElementById('subMenu');
            const profileIcon = document.querySelector('.profile i');

            // If the click is outside the profile icon and submenu, close the submenu
            if (!subMenu.contains(e.target) && e.target !== profileIcon) {
                subMenu.classList.remove('open');
            }
        });
    </script>

    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
</body>
</html>
