/* VARIABLES */
:root {
    --primary-color: #1d357d;
    --secondary-color: #4c8bf5;

    --text-color: #333;

    --background-light: #f5f5f5;
    --background-light-alt: #eef2f7;

    --icons-color: #fff;

    --hover-scrollbar-color: #0056b3;

    --facebook-color: #1877F2;
    --instagram-color: #E4405F;
    --twitter-color: #1DA1F2;
    --linkedin-color: #0A66C2;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-scrollbar-color);
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: background-color 0.5s, box-shadow 0.3s;
}

header.scrolled {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
}

/* Logo and Links */
header .logo a {
    color: var(--icons-color);
    font-size: 1.75rem;
    text-decoration: none;
}

header .logo {
    transition: transform 0.5s ease;
}

header .logo:hover {
    cursor: pointer;
    transform: scale(1.15);
}

header .links a {
    color: var(--icons-color);
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 2rem;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease;
}

header .links a::after {
    content: '';
    height: 3px;
    width: 0px;
    border-radius: 5px;
    background-color: var(--icons-color);
    position: absolute;
    left: 0px;
    bottom: -10px;
    transition: 0.5s;
}

header .links a:hover::after {
    width: 100%;
}

/* Profile Icon */
header .profile i {
    font-size: 2.5rem;
    color: var(--icons-color);
    cursor: pointer;
    transition: color 0.3s;
}

header .profile i:hover {
    color: rgba(238, 238, 238, 0.8);
}

/* Sub-Menu */
.sub-menu-wrap {
    position: absolute;
    top: 70%;
    right: 9%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    border-radius: 10px;
}

.sub-menu-wrap.open {
    max-height: 300px;
}

.sub-menu {
    background-color: var(--icons-color);
    padding: 0.5rem 1rem;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.sub-menu .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
}

.sub-menu .user-info i {
    color: #333;
    font-size: 1.75rem;
}

.sub-menu .user-info h4 {
    color: #333;
}

.sub-menu hr {
    border: none;
    height: 3px;
    width: 100%;
    background: #ddd;
    margin-bottom: 0.5rem;
}

.sub-menu-links {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}

.sub-menu-links a {
    /* color: #525252; */
    color: #333;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 0;
    margin-left: 0.5rem;
    transition: 0.5s;
}

.sub-menu-links a:hover {
    margin-left: 1rem;
}

/* MAIN */
main {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.img-intro {
    width: 290px;
    height: 324px;
    background: url("../images/doc-1.jpg") right/contain no-repeat;
    position: absolute;
    top: 150px;
    right: 180px;
    /* border-radius: 10%; */
    border-radius: 50%;
}

/* INTRO */
.intro {
    color: var(--icons-color);
    text-align: left;
    padding: 5rem 1rem;
    margin-bottom: 7rem;
    position: relative;
}

.intro h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.intro p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    max-width: 600px;
}

.intro .btn-primary {
    background-color: inherit;
    color: var(--icons-color);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
}

/* if the link will be a button */
.intro .btn-primary {
    border: 1px solid var(--icons-color);
    cursor: pointer;
}

.intro .btn-primary:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transform: scale(1.1);
}

/* APPOINTMENTS */
#Appointments {
    scroll-margin-top: 180px;
}

.Appointments {
    text-align: center;
    padding: 3rem 1rem;
    background-color: var(--background-light);
}

.Appointments h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.Appointments-card {
    display: inline-block;
    width: 30%;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #f7f7f7;
    border-radius: 8px;
    background-color: var(--icons-color);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.Appointments-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.Appointments-card i {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.Appointments-card h3 {
    margin-bottom: 0.5rem;
}

.Appointments-card p {
    line-height: 1.5rem;
}

.Appointment__card a {
    position: relative;
    isolation: isolate;
    display: inline-block;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-dark);
    transition: 0.3s;
}

.Appointment__card a::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 100%;
    z-index: -1;
}

.Appointment__card a:hover {
    padding-left: 2.5rem;
}

/* DOCTOR PANEL */
.doc-panel {
    /* background-color: var(--background-light); */
    background-color: #fbfbfb;
    padding: 3rem 1rem;
    text-align: center;
}

/* APPOINTMENTS */
#Doctor-Panel {
    scroll-margin-top: 100px;
}

.doc-panel h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.doc-panel .img-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.doc-panel .img-flex img {
    width: 290px;
    height: 324px;
}

.doc-panel .img-text h3 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.doc-panel .img-text .doctor-specialization {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.img-text .doctor-description{
    color: #333;
    line-height: 1.8rem;
    max-width: 400px;
}

/* FOOTER */
footer {
    color: var(--icons-color);
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
    position: relative;
    width: 75%;
    margin: 0 auto;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

footer .company {
    color: #001c6e;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.5s ease;
}

footer .company:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer .social-icons {
    display: flex;
}

footer .social-icons a {
    margin-left: 30px;
}

footer .social-icons a i {
    color: var(--icons-color);
    font-size: 1.5rem;
    transition: 0.3s;
}

footer .social-icons a:hover .fa-facebook {
    color: var(--facebook-color);
}

footer .social-icons a:hover .fa-instagram {
    color: var(--instagram-color);
}

footer .social-icons a:hover .fa-x-twitter {
    color: var(--x-twitter-color);
}

footer .social-icons a:hover .fa-linkedin {
    color: var(--linkedin-color);
}